[Unit]
Description=Home Assistant now playing
After=dbus.service network-online.target
Wants=network-online.target
Requires=dbus.service

[Service]
Type=notify
ExecStart=/usr/local/bin/hass-nowplaying

[Install]
WantedBy=default.target