name: build

on:
  workflow_dispatch:
  push:
    branches: 
      - main
  pull_request:

env:
  version: "1.0.${{ github.run_number }}${{ github.run_attempt }}"
  package_name: hass-nowplaying
  rpm_arch: x86_64
  rpm_release: 1
  dotnet_version: 8
  deb_dotnet_runtime: dotnet-runtime-8.0

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      checks: write
      contents: write
      
    env:
      build_configuration: Release
      build_runtime: linux-x64
      build_framework: net8.0
    
    steps:
    - uses: actions/checkout@v6
    
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: ${{ env.dotnet_version }}
      
    - name: dotnet restore
      run: dotnet restore

    - name: dotnet build
      run: dotnet build
      
    - name: dotnet publish
      run: dotnet publish --configuration ${{ env.build_configuration }} --runtime ${{ env.build_runtime }} --framework ${{ env.build_framework }} --self-contained false -p:PublishSingleFile=true -p:PublishTrimmed=false -p:PublishReadyToRun=false -p:Version=${{ env.version }} -p:PackageVersion=${{ env.version }} --output publish

    - name: Set execute permissoins
      run: |
        cd "${{ github.workspace }}/publish/"
        chmod +x hass-nowplaying

    - name: Upload artifact
      uses: actions/upload-artifact@v6
      with:
        name: build
        path: ${{ github.workspace }}/publish

    - name: Create tarball
      run: |
        cd "${{ github.workspace }}/publish/"
        find . -name "*.pdb" -type f -delete
        mkdir -p tarball/${{ env.package_name }}
        mv hass-nowplaying tarball/${{ env.package_name }}
        cp "${{ github.workspace }}/appsettings.json" "${{ github.workspace }}/publish/tarball/${{ env.package_name }}"
        cp "${{ github.workspace }}/hass-nowplaying.service" "${{ github.workspace }}/publish/tarball/${{ env.package_name }}"
        cd tarball
        tar -czvf ${{ env.package_name }}_${{ env.version }}.tar.gz *
        rm -r hass-nowplaying

    - name: Upload artifact
      uses: actions/upload-artifact@v6
      with:
        name: tarball
        path: ${{ github.workspace }}/publish/tarball

    - name: dotnet test
      run: dotnet test --configuration ${{ env.build_configuration }} --framework ${{ env.build_framework }} --verbosity normal --logger "trx;LogFileName=TestResults.trx"
        
    # - name: Publish Unit Test Results
    #   uses: dorny/test-reporter@v1
    #   with:
    #     name: Unit Test Results
    #     path: Tests/**/TestResults.trx
    #     reporter: dotnet-trx

  rpm:
    runs-on: ubuntu-latest
    needs: build

    steps:
    - uses: actions/checkout@v6

    - name: Create folder structure
      run: |
        cd "${{ github.workspace }}/packaging/rpm"
        mkdir -p BUILD
        mkdir -p BUILDROOT
        mkdir -p RPMS
        mkdir -p SOURCES
        mkdir -p SRPMS

    - name: Get artifacts
      uses: actions/download-artifact@v7
      with:
        name: build
        path: ${{ github.workspace }}/packaging/rpm/SOURCES

    - name: Move additional files
      run: |
        cd "${{ github.workspace }}/packaging/rpm"

        cp "${{ github.workspace }}/${{ env.package_name }}.service" "./SOURCES"
        cp "${{ github.workspace }}/appsettings.json" "./SOURCES"
        cp "${{ github.workspace }}/README.md" "./SOURCES"
        cp "${{ github.workspace }}/LICENSE" "./SOURCES"

    - name: Build rpm file
      run: |
        mkdir -p "${{ github.workspace }}/publish"
        cd "${{ github.workspace }}/packaging/rpm"

        echo "PWD - $PWD"

        rpmbuild -bb ./SPECS/${{ env.package_name }}.spec \
          --define "_topdir $PWD" \
          --define "version ${{ env.version }}" \
          --define "release ${{ env.rpm_release }}" \
          --define "buildarch ${{ env.rpm_arch }}"

        mv ./RPMS/${{ env.rpm_arch }}/${{ env.package_name }}-${{ env.version }}-${{ env.rpm_release }}.${{ env.rpm_arch }}.rpm "${{ github.workspace }}/publish/"


    - name: Upload artifact
      uses: actions/upload-artifact@v6
      with:
        name: rpm
        path: ${{ github.workspace }}/publish

    - name: Check rpm file
      run: |
        cd "${{ github.workspace }}/publish"
        rpm -qip ${{ env.package_name }}-${{ env.version }}-${{ env.rpm_release }}.${{ env.rpm_arch }}.rpm
        rpm2cpio ${{ env.package_name }}-${{ env.version }}-${{ env.rpm_release }}.${{ env.rpm_arch }}.rpm  | cpio -idmv
        ls -alR
       
        

  deb:
    runs-on: ubuntu-latest
    needs: build

    steps:
    - uses: actions/checkout@v6

    - name: Install .NET Runtime
      run: |
        sudo apt update
        sudo apt install -y ${{ env.deb_dotnet_runtime }}

    - name: Create folder structure
      run: |
        cd "${{ github.workspace }}/packaging/deb/${{ env.package_name }}"
        mkdir -p usr/bin
        mkdir -p usr/share/${{ env.package_name }}
        mkdir -p usr/share/doc/${{ env.package_name }}

    - name: Get artifacts
      uses: actions/download-artifact@v7
      with:
        name: build
        path: ${{ github.workspace }}/packaging/deb/${{ env.package_name }}/usr/bin

    - name: Move additional files
      run: |
        cd "${{ github.workspace }}/packaging/deb/${{ env.package_name }}"

        chmod 755 "${{ github.workspace }}/packaging/deb/${{ env.package_name }}/usr/bin/${{ env.package_name }}"

        find . -name "*.pdb" -type f -delete

        cp "${{ github.workspace }}/${{ env.package_name }}.service" "./usr/share/${{ env.package_name }}"
        cp "${{ github.workspace }}/appsettings.json" "./usr/share/doc/${{ env.package_name }}"
        cp "${{ github.workspace }}/README.md" "./usr/share/doc/${{ env.package_name }}"
        cp "${{ github.workspace }}/LICENSE" "./usr/share/doc/${{ env.package_name }}"

    - name: Update control file version
      run: |
        cd "${{ github.workspace }}/packaging/deb/${{ env.package_name }}/DEBIAN"
        sed -i "s/Version: .*$/Version: ${{ env.version }}-1/" control

    - name: Build deb file
      run: |
        mkdir -p "${{ github.workspace }}/publish"
        cd "${{ github.workspace }}/packaging/deb"
        dpkg-deb --build ${{ env.package_name }}
        mv ${{ env.package_name }}.deb "${{ github.workspace }}/publish/${{ env.package_name }}_${{ env.version }}.deb"
    
    - name: Upload artifact
      uses: actions/upload-artifact@v6
      with:
        name: deb
        path: ${{ github.workspace }}/publish

    - name: Check deb file
      run: |
        cd "${{ github.workspace }}/publish"
        dpkg -I ${{ env.package_name }}_${{ env.version }}.deb
        sudo dpkg -i ${{ env.package_name }}_${{ env.version }}.deb

  release:
    if: ${{ github.event_name != 'pull_request'  && github.ref_name == 'main' }}
    runs-on: ubuntu-latest
    needs: [build, deb, rpm]
    permissions:
      contents: write

    steps:
    - uses: actions/checkout@v6

    - name: Get tarball
      uses: actions/download-artifact@v7
      with:
        name: tarball
        path: ${{ github.workspace }}/publish

    - name: Get deb
      uses: actions/download-artifact@v7
      with:
        name: deb
        path: ${{ github.workspace }}/publish

    - name: Get rpm
      uses: actions/download-artifact@v7
      with:
        name: rpm
        path: ${{ github.workspace }}/publish

    - name: Create release
      uses: actions/github-script@v8
      id: create-release
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        script: |
          const {data: newRelease} = await github.rest.repos.createRelease({
            owner: context.repo.owner,
            repo: context.repo.repo,
            name: 'Home Assistant Now Playing Daemon ${{ env.version  }}',
            tag_name: '${{ env.version  }}',
            generate_release_notes: true,
            draft: false,
            prerelease: false
          });
          console.log(`Release has been created with id ${newRelease.id}: ${newRelease.html_url}`)
          core.setOutput("url", newRelease.html_url)
          core.setOutput("id", newRelease.id)
          
    - name: Upload Release Assets
      uses: actions/github-script@v8
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        script: |
          const fs = require('fs').promises;
          const path = require('path');

          const files = [
            path.join('${{ github.workspace }}', 'publish', '${{ env.package_name }}_${{ env.version }}.tar.gz'),
            path.join('${{ github.workspace }}', 'publish', '${{ env.package_name }}_${{ env.version }}.deb'),
            path.join('${{ github.workspace }}', 'publish', '${{ env.package_name }}-${{ env.version }}-${{ env.rpm_release }}.${{ env.rpm_arch }}.rpm')
          ];

          // Loop through the array and upload each file
          for (const file of files) {
            console.log(`Uploading file ${file}`);
            const data = await fs.readFile(file);
            await github.rest.repos.uploadReleaseAsset({
              owner: context.repo.owner,
              repo: context.repo.repo,
              release_id: ${{ steps.create-release.outputs.id }},
              data,
              name: path.basename(file)
            });
          }

